extends layout

block content
    div(ng-controller="MainCtrl")
        table.list.table.table-bordered.table-striped.table-hover(ng-repeat="hotel in hotels")
            tr
                td= '{{hotel.Name}}'
                td= '{{hotel.Rate}}'

        br
        form.form-horizontal(action='/hotel/create', method='post')
            label Name:
            input.form-control(type='text', name='HotelName')#HotelName
            label Rating:
            input.form-control(type='text', name='HotelRating')#HotelRating
            input.btn.btn-default(type='submit')

